/*

!/config/
!/db/
!/html/
!/logs/
!/scripts/
!/ssl/
!/.dockerignore
!/.env.sample
!/.gitignore
!/docker-compose.yaml
!/Dockerfile
!/README.md

/logs/*
!/logs/.gitkeep

/html/*
!/html/wp-content/

/html/wp-content/cache
/html/wp-content/wp-rocket-config
/html/wp-content/advanced-cache.php
/html/wp-content/object-cache.php

/html/wp-content/uploads/*

/html/wp-content/themes/tribe/node_modules/

/html/wp-content/debug.log